:syslogtag, startswith, "marathon" -/var/log/mesos/marathon.log
:syslogtag, startswith, "chronos" -/var/log/mesos/chronos.log
:syslogtag, startswith, "mesos-master" -/var/log/mesos/mesos-master.log
:syslogtag, startswith, "mesos-slave" -/var/log/mesos/mesos-slave.log
& ~