#!/bin/bash

# chkconfig: 345 80 80
# description: kibana is a data visualization tool. \
# processname: kibana
# pidfile: /var/run/kibana.pid

. /etc/init.d/functions

PIDFILE=/var/run/kibana.pid

run() {
    /usr/bin/docker run -d \
        --name=kibana \
        --volume=/etc/kibana/kibana.yml:/opt/kibana/config/kibana.yml \
        -p 5601:5601 \
        {{ kibana_image }}:{{ kibana_image_tag }}
    RETVAL=$?
    PID=$(docker inspect -f '{% raw %}{{ .Id }}{% endraw %}' kibana)
    echo
    if [ -f $PIDFILE ]; then
        rm $PIDFILE
    fi
    echo $PID >> $PIDFILE
    [ $RETVAL -eq 0 ] && touch /var/lock/subsys/kibana
    return $RETVAL
}

start() {
    echo -n "Starting kibana: "
    if [ -f $PIDFILE ]; then
        PID=`cat $PIDFILE`
        RUNNING=`docker inspect -f '{% raw %}{{ .State.Running }}{% endraw %}' $PID`
        EXISTED=$?
        if [ $EXISTED -eq 0 ]; then
            if [ $RUNNING = "true" ]; then
                echo kibana already running: $PID
                exit 2;
            else
                /usr/bin/docker rm -f kibana
                run                        
            fi
        else
            run
        fi
    else
        run
    fi

}

stop() {
    echo -n "Shutting down kibana: "
    echo        
    /usr/bin/docker rm -f kibana
    rm $PIDFILE
    echo
    rm -f /var/lock/subsys/kibana
    return 0
}

status() {
    if [ -f $PIDFILE ]; then
        PID=`cat $PIDFILE`
        RUNNING=`docker inspect -f '{% raw %}{{ .State.Running }}{% endraw %}' $PID`
        EXISTED=$?
        if [ $EXISTED -eq 0 ]; then
            if [ $RUNNING = "true" ]; then
                echo kibana is running: $PID                        
            else
                echo kibana is stopped                        
            fi
        else
            echo kibana is stopped
        fi
    else
        echo kibana is stopped
    fi
}

case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
    status)
        status
        ;;
    restart)
        stop
        start
        ;;
    *)
        echo "Usage:  {start|stop|status|restart}"
        exit 1
        ;;
esac
exit $?