#!/bin/bash

# chkconfig: 345 80 80
# description: weaveproxy is a weave proxy for docker. \
# processname: weaveproxy
# pidfile: /var/run/weaveproxy.pid

. /etc/init.d/functions

DAEMON=/usr/bin/weave
PIDFILE=/var/run/weaveproxy.pid
ENVFILE=/etc/weave/weaveproxy.conf

[ -x "$DAEMON" ] || exit 0
eval $(cat $ENVFILE)

run() {
    $DAEMON launch-proxy $WEAVEPROXY_OPTIONS
    RETVAL=$?
    PID=$(docker inspect -f '{% raw %}{{ .Id }}{% endraw %}' weaveproxy)
    echo
    if [ -f $PIDFILE ]; then
        rm $PIDFILE
    fi
    echo $PID >> $PIDFILE
    [ $RETVAL -eq 0 ] && touch /var/lock/subsys/weaveproxy
    return $RETVAL
}

start() {
    echo -n "Starting weaveproxy: "
    if [ -f $PIDFILE ]; then
        PID=`cat $PIDFILE`
        RUNNING=`docker inspect -f '{% raw %}{{ .State.Running }}{% endraw %}' $PID`
        EXISTED=$?
        if [ $EXISTED -eq 0 ]; then
            if [ $RUNNING = "true" ]; then
                echo weaveproxy already running: $PID
                exit 2;
            else
                /usr/bin/docker rm -f weaveproxy
                run                        
            fi
        else
            run
        fi
    else
        run
    fi

}

stop() {
    echo -n "Shutting down weaveproxy: "
    echo
    $DAEMON stop-proxy
    rm $PIDFILE
    echo
    rm -f /var/lock/subsys/weaveproxy
    return 0
}

status() {
    if [ -f $PIDFILE ]; then
        PID=`cat $PIDFILE`
        RUNNING=`docker inspect -f '{% raw %}{{ .State.Running }}{% endraw %}' $PID`
        EXISTED=$?
        if [ $EXISTED -eq 0 ]; then
            if [ $RUNNING = "true" ]; then
                echo weaveproxy is running: $PID                        
            else
                echo weaveproxy is stopped                        
            fi
        else
            echo weaveproxy is stopped
        fi
    else
        echo weaveproxy is stopped
    fi
}

case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
    status)
        status
        ;;
    restart)
        stop
        start
        ;;
    *)
        echo "Usage:  {start|stop|status|restart}"
        exit 1
        ;;
esac
exit $?