#!/bin/bash

# chkconfig: 345 80 80
# description: weave is a multi-host networking solution for containers. \
# processname: weave
# pidfile: /var/run/weave.pid

. /etc/init.d/functions

DAEMON=/usr/bin/weave
PIDFILE=/var/run/weave.pid
ENVFILE=/etc/weave/weave.conf

[ -x "$DAEMON" ] || exit 0
eval $(cat $ENVFILE)

run() {
    $DAEMON launch-router $WEAVE_OPTIONS $WEAVE_PEERS
    RETVAL=$?
    PID=$(docker inspect -f '{% raw %}{{ .Id }}{% endraw %}' weave)
    echo
    if [ -f $PIDFILE ]; then
        rm $PIDFILE
    fi
    echo $PID >> $PIDFILE
    [ $RETVAL -eq 0 ] && touch /var/lock/subsys/weave
    return $RETVAL
}

start() {
    echo -n "Starting weave: "
    if [ -f $PIDFILE ]; then
        PID=`cat $PIDFILE`
        RUNNING=`docker inspect -f '{% raw %}{{ .State.Running }}{% endraw %}' $PID`
        EXISTED=$?
        if [ $EXISTED -eq 0 ]; then
            if [ $RUNNING = "true" ]; then
                echo weave already running: $PID
                exit 2;
            else
                /usr/bin/docker rm -f weave
                run                        
            fi
        else
            run
        fi
    else
        run
    fi
}

stop() {
    echo -n "Shutting down weave: "
    echo        
    $DAEMON stop-router
    rm $PIDFILE
    echo
    rm -f /var/lock/subsys/weave
    return 0
}

status() {
    if [ -f $PIDFILE ]; then
        PID=`cat $PIDFILE`
        RUNNING=`docker inspect -f '{% raw %}{{ .State.Running }}{% endraw %}' $PID`
        EXISTED=$?
        if [ $EXISTED -eq 0 ]; then
            if [ $RUNNING = "true" ]; then
                echo weave is running: $PID                        
            else
                echo weave is stopped                        
            fi
        else
            echo weave is stopped
        fi
    else
        echo weave is stopped
    fi
}

case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
    status)
        status
        ;;
    restart)
        stop
        start
        ;;
    *)
        echo "Usage:  {start|stop|status|restart}"
        exit 1
        ;;
esac
exit $?